#a3 {color: rgb(184, 181, 0);}
#a12 {background-color: rgb(136, 136, 136);}
#m1 {width: 100px; height: 100px;}
#navi {background-color: rgb(156, 26, 9);}
#copy {width: 200px; height: 100px;}
h2 {text-align: center;}
