#a0 {height: 50px; width: 50px;}
#a1 {background-color:rgb(136, 136, 136);}
#navii {background-color: rgb(156, 26, 9);}
h1 {text-align: center;}
#hhh {text-align: center;}
#me {width: 200px; height: 100px;}
#t45 {width: 100%;border: 3px solid; border-collapse: collapse;}
#teto {border: 3px solid;}